<div class="modal fade slide-right" id="modalAppointmentRegisterPartial" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <button aria-label="" type="button" class="close p-t-10" data-dismiss="modal" aria-hidden="true">
                    <i class="pg-icon">fechar</i>
                </button>
                <div class="container-xs-height full-height">
                    <div class="row-xs-height">
                        <div class="modal-body p-t-50">
                            <div class="modal-body p-0">
                                <div class="row p-l-15 p-r-15">
                                    <div class="col-lg-8 p-0">
                                        <div class="form-group">
                                            <label>Data</label>
                                            <input type="text" class="form-control" id="modalAppointmentRegisterDatepicker">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 p-0">
                                        <div class="form-group">
                                            <label>Horário</label>
                                            <select class="full-width" data-init-plugin="select2" id="modalAppointmentRegisterHour">
                                                <option value="1000">10:00</option>
                                                <option value="1300">10:30</option>
                                                <option value="1100">11:00</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row p-l-15 p-r-15">
                                    <div class="col-lg-12 p-0">
                                        <div class="form-group">
                                            <label>Paciente</label>
                                            <select class="full-width" data-init-plugin="select2" id="modalAppointmentRegisterPatient"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row p-l-15 p-r-15">
                                    <div class="col-lg-12 p-0">
                                        <label>Tipo</label>
                                        <div id="modalAppointmentRegisterType"></div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <button aria-label="" type="button" class="btn btn-primary btn-block" id="modalAppointmentRegisterSave">Salvar</button>
                            <button aria-label="" type="button" class="btn btn-default btn-block" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>