@{
    Layout = "_LayoutFullHeight";
    ViewData["Title"] = "Calendar";
    ViewData["Calendar"] = true;
}
<div id="myCalendar" class="full-height"></div>
<partial name="AppointmentRegisterPartial" />
<partial name="AttendanceRegisterPartial" />
<partial name="EmployeeRegisterPartial" />
<partial name="PatientRegisterPartial" />

@section scripts {

}