@model WebIMOBMentoria.ViewModel.ImovelViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Imovel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ImovelId" />
            <div class="form-group">
                <label asp-for="ImovelNomeVenda" class="control-label"></label>
                <input asp-for="ImovelNomeVenda" class="form-control" />
                <span asp-validation-for="ImovelNomeVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorDoImovel" class="control-label"></label>
                <input asp-for="ValorDoImovel" class="form-control" />
                <span asp-validation-for="ValorDoImovel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImovelNomeCompra" class="control-label"></label>
                <input asp-for="ImovelNomeCompra" class="form-control" />
                <span asp-validation-for="ImovelNomeCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" asp-items="@(new SelectList(Model.Clientes,"ClienteId","ClienteNome"))" class="form-control"></select>
            </div>
            <span asp-validation-for="ClienteId" class="text-danger"></span>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <br>
    


</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
